<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkslategrey;"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">COURSE CATALOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/categories'}" th:text="Categories"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/courses'}" th:text="Courses"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize = "!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/enter'}">SIGN IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/register'}" th:text="${'SIGN UP'}"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize = "isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/profile'}" th:text="${#authentication.getPrincipal().fullName}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/signout'}" th:text="${'SIGN OUT'}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>