<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body onload="loadMain()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightseagreen;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">COURSE CATALOG</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="mycourses.html">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses.html">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html">All Categories</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="ulUserMenu">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" style="min-height: 600px;">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                        </tr>    
                    </thead>
                    <tbody id=categoriesContent>
                        <!--htmlCode-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light mt-3 py-2" style="background-color: lightseagreen;">
        <div clas="row">
            <p class="text-center">
                Copyright &copy; 2022
            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
</body>
<script type="text/javascript">
    var curUser;
    function loadMain() {
        this.curUser = localStorage.getItem('user');
        var htmlCode = "";
        if (curUser != null) {
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link'>" + curUser + "</a>"
            htmlCode += "</li>"
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' id='aSignOut'>SIGN OUT</a>"
            htmlCode += "</li>"
        } else {
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' id='aSignIn'>SIGN IN AS</a>"
            htmlCode += "</li>"
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' href='http://localhost:8000/register'>SIGN UP</a>"
            htmlCode += "</li>"
        }
        ulUserMenu.innerHTML = htmlCode;
        if (curUser != null) {
            aSignOut.onclick = function () {
                delete localStorage.user;
                curUser = null;
                loadMain();
            };
        } else {
            aSignIn.onclick = function () {
                var name = '';
                while (name === '') {
                    name = prompt('Input Login User');
                }
                if (name != null){
                    localStorage.setItem('user', name);
                    loadMain();
                }
            }
        }
        loadCategories();
    }

    function loadCategories() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            const result = this.responseText;
            var categoriesList = JSON.parse(result);
            // console.log(result);
            // console.log(categoriesList);
            // console.log(categoriesList.length);
            var htmlCode = "";
            if (curUser != null) {
                for (i = 0; i < categoriesList.length; i++) {
                    htmlCode += "<tr>";
                        htmlCode += "<td>" + categoriesList[i]["id"] + "</td>";
                        htmlCode += "<td>" + categoriesList[i]["name"] + "</td>";
                    htmlCode += "</tr>";
                }
            }
            document.getElementById("categoriesContent").innerHTML = htmlCode;
        }
        xhttp.open("GET","http://localhost:8000/api/categories");
        xhttp.send();
    }
</script>
</html>