<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body onload="loadCourses()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightseagreen;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">COURSE CATALOG</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="mycourses.html">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses.html">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html">All Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" style="min-height: 600px;">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>PRICE</th>
                            <th>RATING</th>
                            <th>AUTHOR</th>
                            <th>CATEGORY</th>
                            <td style="width: 10%">
                                ENROLL
                            </td>
                        </tr>
                    </thead>
                    <tbody id=coursesContent>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script type="text/javascript">
    function loadCourses() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            const result = this.responseText;
            var coursesList = JSON.parse(result);
            console.log(result);
            console.log(coursesList);
            console.log(coursesList.length);
            var htmlCode = "";
            for (i=0; i<coursesList.length; i++){
                htmlCode += "<tr>";
                    htmlCode += "<td>" + coursesList[i]["id"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["name"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["description"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["priceValue"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["ratingValue"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["author"]["fullName"] + "</td>";
                    htmlCode += "<td>" + coursesList[i]["category"]["name"] + "</td>";
                    // htmlCode += "<td>" + "<button class='btn btn-success btn-sm' onclick='toEnroll(coursesList[i][''id''])'>" +
                    // htmlCode += "<td>" + "<button class='btn btn-success btn-sm' onclick='toEnroll()'>" +
                    //             "ENROLL" + "</button>";
                    htmlCode += "<td>" + "<button class='btn btn-success btn-sm' data-bs-toggle='modal' " +
                                "data-bs-target='#enrollCourseModal'" + coursesList[i]["id"] + ">" +
                                "ENROLL" + "</button>";
                htmlCode += "</tr>";
            }
            document.getElementById("coursesContent").innerHTML = htmlCode;
        }
        xhttp.open("GET","http://localhost:8000/api/courses");
        xhttp.send();
    }
    function toEnroll(){
        var courseId = 3;
        var enrollObj = {
            "userId": 3,
            "courseId": courseId,
            "comment": 'Super',
            "userRating": 1
        };
        var post = JSON.stringify(enrollObj);
        var xhr = new XMLHttpRequest();

        xhr.open('POST', "/api/enroll", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        xhr.send(post);
    }
</script>
</html>