<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body onload="loadMain()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightseagreen;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">COURSE CATALOG</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="mycourses.html">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses.html">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html">All Categories</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="ulUserMenu">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" style="min-height: 600px;">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>PRICE</th>
                            <th>RATING</th>
                            <th>AUTHOR</th>
                            <th>CATEGORY</th>
                            <th style="text-align: center; width: 10%;">ACTION</th>
                            <th style="text-align: center; width: 10%;">COMMENTS</th>
                        </tr>
                    </thead>
                    <tbody id=tbodyCoursesList>
                        <!--htmlCode-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Comments Course Modal -->
    <div class="modal fade" id="itemCommentsModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View all course comments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex flex-column">
                        <input type="hidden" id="valEnrollCardId1">
                        <div class="row d-flex flex-row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="fw-bold">MY REVIEW OF THE COURSE</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <textarea class="form-control" id="valTextComment"
                                                  rows="4" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="fw-bold">ESTIMATE</label>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="valUserRating"
                                               required min="1" max="5" step="1">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <label class="fw-bold" style="color: darkred">SCORE</label>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="valUserPoint"
                                               style="background-color: whitesmoke;" readonly>
                                    </div>
                                </div>

                            </div>
                            <hr class="mt-3">
                        </div>
                    </div>
                    <div class="row d-flex flex-row">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped" id="tableCommentsList">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            data-bs-dismiss="modal"
                            onclick="saveCommentsModal()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Unenroll approve Modal -->
    <div class="modal fade" id="itemUnenrollModal" tabindex="-1"
         aria-labelledby="exModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exModalLabel">View all course comments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="valEnrollCardId2">
                            <h5>Are you sure you want to unenrolled?</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger"
                            data-bs-dismiss="modal"
                            onclick="approveUnenrollModal()">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light mt-3 py-2" style="background-color: lightseagreen;">
        <div class="row">
            <p class="text-center">
                Copyright &copy; 2022
            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
</body>
<script type="text/javascript">
    var curUser;
    function loadMain() {
        this.curUser = localStorage.getItem('user');
        var htmlCode = "";
        if (curUser != null) {
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link'>" + curUser + "</a>"
            htmlCode += "</li>"
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' id='aSignOut'>SIGN OUT</a>"
            htmlCode += "</li>"
        } else {
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' id='aSignIn'>SIGN IN AS</a>"
            htmlCode += "</li>"
            htmlCode += "<li class='nav-item'>"
                htmlCode += "<a class='nav-link' href='http://localhost:8000/register'>SIGN UP</a>"
            htmlCode += "</li>"
        }
        ulUserMenu.innerHTML = htmlCode;
        if (curUser != null) {
            aSignOut.onclick = function () {
                delete localStorage.user;
                curUser = null;
                loadMain();
            };
        } else {
            aSignIn.onclick = function () {
                var name = '';
                while (name === '') {
                    name = prompt('Input Login User');
                }
                if (name != null){
                    localStorage.setItem('user', name);
                    loadMain();
                }
            }
        }
        loadCourses();
    }

    function loadCourses() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            if (this.status == 200) {
                const result = this.responseText;
                var coursesList = JSON.parse(result);
                var htmlCode = "";
                if (curUser != null) {
                    for (i = 0; i < coursesList.length; i++) {
                        htmlCode += "<tr>";
                            htmlCode += "<td>" + coursesList[i]["id"] + "</td>";
                            htmlCode += "<td>" + coursesList[i]["name"] + "</td>";
                            htmlCode += "<td>" + coursesList[i]["description"] + "</td>";
                            htmlCode += "<td>" + coursesList[i]["priceValue"] + "</td>";
                            htmlCode += "<td style='text-align: center;'>" + coursesList[i]["ratingValue"] + "</td>";
                            if (coursesList[i]["author"] != null) {
                                htmlCode += "<td>" +
                                    coursesList[i]["author"]["fullName"] +
                                    "</td>";
                            } else {
                                htmlCode += "<td>none</td>";
                            }
                            htmlCode += "<td>" + coursesList[i]["category"]["name"] + "</td>";
                            htmlCode += "<td style='text-align: center;' " +
                                "id='td_act" + coursesList[i]["id"] + "'></td>";
                            htmlCode += "<td style='text-align: center;' " +
                                "id='td_com" + coursesList[i]["id"] + "'></td>";
                        htmlCode += "</tr>";
                    }
                }
                //прорисовка tbodyCoursesList
                tbodyCoursesList.innerHTML = htmlCode;
                //добавление кнопок
                if (curUser != null) {
                    for (i = 0; i < coursesList.length; i++) {
                        getCardEnrollId(coursesList[i]["id"])
                    }
                }
            }
        }
        xhttp.open("GET","http://localhost:8000/api/courses");
        xhttp.send();
    }

    function getCardEnrollId(courseId) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            if (this.readyState == 4 && this.status == 200) {
                const result = this.responseText;
                var res;
                try{
                    var itemCardEnroll = JSON.parse(result);
                    res = itemCardEnroll["id"];
                }catch (ex){
                    res = null;
                }
                //console.log("res="+res);
                var parent_act = document.getElementById("td_act" + courseId);
                var parent_com = document.getElementById("td_com" + courseId);
                var my_btn_enroll = document.createElement('button');
                var my_btn_unenroll = document.createElement('button');
                var my_btn_comment = document.createElement('button');
                if (res !== null && res !== undefined) {
                    my_btn_unenroll.setAttribute("class", 'btn btn-warning btn-sm');
                    my_btn_unenroll.innerHTML = 'UNENROLL';
                    my_btn_unenroll.onclick = function (enrollCardId) {
                        return function () {
                            openUnenrollModal(enrollCardId);
                        };
                    }(res);
                    if (typeof(parent_act) !== 'undefined' && parent_act !== null) {
                        parent_act.appendChild(my_btn_unenroll);
                    }
                    my_btn_comment.setAttribute("class", 'btn btn-primary btn-sm');
                    my_btn_comment.innerHTML = 'COMMENTS';
                    my_btn_comment.onclick = function (courseID, enrollCardId) {
                        return function () {
                            openCommentsModal(courseID, enrollCardId);
                        };
                    }(courseId, res);
                    if (typeof(parent_com) !== 'undefined' && parent_com !== null) {
                        parent_com.appendChild(my_btn_comment);
                    }
                } else {
                    my_btn_enroll.setAttribute("class", 'btn btn-success btn-sm');
                    my_btn_enroll.innerHTML = 'ENROLL';
                    my_btn_enroll.onclick = function (courseID) {
                        return function () {
                            toEnroll(courseID);
                        };
                    }(courseId);
                    if (typeof(parent_act) !== 'undefined' && parent_act !== null) {
                        parent_act.appendChild(my_btn_enroll);
                    }
                }
            }
        }
        xhttp.open("GET","http://localhost:8000/api/enroll/" + courseId + "/" + curUser);
        xhttp.send();
    }

    function toEnroll(courseId){
        //alert("toEnroll: courseId="+courseId);
        var enrollObj = {
            "user": {
                "email": curUser,
            },
            "course": {
                "id": courseId
            }
        };
        var post = JSON.stringify(enrollObj);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "http://localhost:8000/api/enroll", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        xhr.send(post);

        xhr.onload = function () {
            if (xhr.status === 201) { //201-created
                alert("You have successfully Enrolled in the course!");
            } else {
                alert("Attention!\n" +
                      "There was an error enrolling in the course.\n" +
                      "Contact your administrator.");
            }
            loadCourses();
        }
    }

    function saveCommentsModal(){
        //alert("saveCommentsModal: comment=" + valTextComment.value + " userRating=" + valUserRating.value + " id=" + valEnrollCardId1.value);
        var enrollObj = {
            "id": valEnrollCardId1.value,
            "comment": valTextComment.value,
            "userRating": valUserRating.value
        };
        var put = JSON.stringify(enrollObj);
        var xhr = new XMLHttpRequest();
        xhr.open('PUT', "http://localhost:8000/api/enroll", true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        xhr.send(put);

        xhr.onload = function () {
            if (xhr.status === 200) { //200-OK
                //alert("Your data has been successfully saved!");
                loadCourses();
            }
        }
        //itemCommentsModal.hide();
    }

    function openCommentsModal(courseId, enrollCardId) {
        //alert("openCommentsModal: courseId="+courseId +", enrollCardId="+enrollCardId);
        const myModal = new bootstrap.Modal('#itemCommentsModal', {backdrop: true, focus: true, keyboard: true});
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function(){
            if (this.status == 200) {
                const result = this.responseText;
                var commentsList = JSON.parse(result);
                var htmlCode = "";
                var countRec = 0;
                htmlCode += "<thead className='mt-2'>";
                    htmlCode += "<tr>";
                        htmlCode += "<th style='width: 80%;'>ALL REVIEWS</th>";
                        htmlCode += "<th style='width: 10%;'>ESTIMATE</th>";
                        htmlCode += "<th style='width: 10%;'>AUTHOR</th>";
                    htmlCode += "</tr>";
                htmlCode += "</thead>"
                htmlCode += "<tbody>"
                for (i=0; i<commentsList.length; i++) {
                    if (commentsList[i]["id"] == enrollCardId) {
                        valEnrollCardId1.value = enrollCardId;
                        valTextComment.value = commentsList[i]["comment"];
                        valUserRating.value = commentsList[i]["userRating"];
                        valUserPoint.value = commentsList[i]["point"];
                    } else {
                        htmlCode += "<tr>";
                            htmlCode += "<td style='max-height: 2em;'>" +
                                commentsList[i]["comment"] + "</td>";
                            htmlCode += "<td style='text-align: center;'>" +
                                commentsList[i]["userRating"] + "</td>";
                            htmlCode += "<td>" + commentsList[i]["user"]["fullName"] + "</td>";
                        htmlCode += "</tr>";
                        countRec++;
                    }
                }
                htmlCode += "</tbody>"
                if (countRec > 0) {
                    tableCommentsList.innerHTML = htmlCode;
                } else {
                    tableCommentsList.innerHTML = "";
                }
            }
        }
        xhttp.open("GET","http://localhost:8000/api/enroll/comments/" + courseId);
        xhttp.send();
        myModal.show();
    }

    function openUnenrollModal(enrollCardId) {
        //alert("openUnenrollModal=" + enrollCardId);
        const myModal = new bootstrap.Modal('#itemUnenrollModal', {backdrop: true, focus: true, keyboard: true});
        valEnrollCardId2.value = enrollCardId;
        myModal.show();
    }

    function approveUnenrollModal(){
        //alert("approveUnenrollModal: idCardEnroll=" + valEnrollCardId2.value);
        var xhr = new XMLHttpRequest();
        xhr.onload = function(){
            if(xhr.status === 200){
                alert("You have successfully Unenrolled!");
                loadCourses();
            }
        }
        xhr.open('DELETE', "http://localhost:8000/api/enroll/" + valEnrollCardId2.value);
        xhr.send();
        //itemUnenrollModal.hide();
    }
</script>
</html>