<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body onload="loadCourseList()">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightseagreen;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">COURSE CATALOG</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="mycourses.html">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses.html">All Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html">All Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" style="min-height: 600px;">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-3">NAME</th>
                            <th class="col-9">CONTENT</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row" id="divCourseList">
        </div>
    </div>
    <div class="container-fluid text-light mt-3 py-2" style="background-color: lightseagreen;">
        <div clas="row">
            <p class="text-center">
                Copyright &copy; 2022
            </p>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<script type="text/javascript">

    function loadCourseList() {
        //alert("loadCourseList:"); //для проверки вызова
        const xhttp = new XMLHttpRequest();
        xhttp.open("GET","http://localhost:8000/api/enroll/" + "user@gmail.com");
        
        xhttp.onload = function(){
            if (this.status == 200) {
                const result = this.responseText;
                var coursesList = JSON.parse(result);
                // Проверка JSON.parse
                // console.log(result);
                // console.log(coursesList);
                // console.log(coursesList.length);

                var htmlCode = "";
                var courseObj = [];
                //создаем объект
                courseObj[0] = {
                    objectId: '',
                    content: ''
                };
                // list course name
                htmlCode += "<div class ='col-3'>";
                    htmlCode += "<div class ='list-group' id='list-tab' role='tablist'>";
                    for (i=0; i<coursesList.length; i++) {
                        courseObj[i] = {
                            objectId: "object_" + i,
                            content: coursesList[i]["content"]
                        };
                        if (i == 0) {
                            htmlCode += "<a class ='list-group-item list-group-item-action active' ";
                        } else {
                            htmlCode += "<a class ='list-group-item list-group-item-action' ";
                        }
                            htmlCode += "id='list-course" + coursesList[i]["id"] + "-list' ";
                            htmlCode += "data-bs-toggle='list' ";
                            htmlCode += "href='#list-course" + coursesList[i]["id"] + "' ";
                            htmlCode += "role='tab' ";
                            htmlCode += "aria-controls='list-course" + coursesList[i]["id"] + "'>";
                            htmlCode += coursesList[i]["name"];
                        htmlCode += "</a>";
                    }
                    htmlCode += "</div>"
                htmlCode += "</div>"

                // list pdf-content
                var masObj = [];
                htmlCode += "<div class='col-9'>";
                    htmlCode += "<div class='tab-content' id='nav-tabContent'>";
                        for (i=0; i<coursesList.length; i++) {
                            masObj[i] = {
                                objectId: "object_" + i
                            };
                            if (i == 0) {
                                htmlCode += "<div class='tab-pane fade show active' ";
                            } else {
                                htmlCode += "<div class='tab-pane fade' ";
                            }
                            htmlCode += "id='list-course" + coursesList[i]["id"] + "' ";
                            htmlCode += "role='tabpanel' ";
                            htmlCode += "aria-labelledby='list-course" + coursesList[i]["id"] + "-list'>";
                            htmlCode += "<object id='" + masObj[i].objectId + "' " +
                                            "width='825px' height='600px'>";
                            htmlCode +=  "</object>";
                            htmlCode += "</div>";
                        }
                    htmlCode += "</div>";
                htmlCode += "</div>";

                //прорисовка divCourseList
                document.getElementById("divCourseList").innerHTML = htmlCode;

                //определение onclick()
                for (i=0; i<coursesList.length; i++) {
                    var link = document.getElementById("list-course" + coursesList[i]["id"] + "-list");
                    link.onclick = function (object_id, course_Content) {
                        return function () {
                            loadContent(object_id, course_Content);
                        };
                    }(courseObj[i].objectId, courseObj[i].content);
                }(i);

                //вызов первого onclick() после загрузки формы
                if (courseObj[0].objectId !== "" && courseObj[0].content !== "") {
                    loadContent(courseObj[0].objectId, courseObj[0].content)
                } else {
                    console.log("failed")
                }
            }
        }
        xhttp.send();
    }

   function loadContent(object_id, course_Content) {
        //проверка параметров
        console.log(object_id + ", " + course_Content);
        const xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost:8000/api/contents/' + course_Content, true);
        xhr.responseType = 'arraybuffer';

        xhr.onload = function(e) {
            if (this.status == 200) {
                var blob = new Blob([this.response], {type:"application/pdf"});
                var pdf_url = window.URL.createObjectURL(blob);
                var my_embed = document.createElement('embed');
                my_embed.setAttribute('src', pdf_url);
                my_embed.setAttribute('type', 'application/pdf');
                my_embed.setAttribute('width', '825px');
                my_embed.setAttribute('height', '600px');
                var theParent = document.getElementById(object_id);
                //если элемент theParent существует
                if (typeof(theParent) != 'undefined' && theParent != null) {
                    while (theParent.hasChildNodes()) {
                        theParent.removeChild(theParent.firstChild);
                    }
                    var my_p = document.createElement('p');
                    my_p.setAttribute('innerText', 'This browser does not support PDFs. Please download the PDF to view it: ');
                    var my_a = document.createElement('a');
                    my_a.setAttribute('href', 'http://localhost:8000/api/contents/' + course_Content);
                    my_a.setAttribute('target', '_blank');
                    my_a.setAttribute('innerText', 'Download PDF');
                    my_p.insertBefore(my_a, my_p.firstChild);
                    theParent.insertBefore(my_p, theParent.firstChild);
                    theParent.insertBefore(my_embed, theParent.firstChild);
                }
           }
       }
       xhr.send();
   }
</script>
</html>